p {
    padding: 10px;
}

.wavy {
    text-decoration: wavy;
    text-decoration-line: underline;
    text-decoration-color: #4b3ad1;
}

.dotted {
    text-decoration: dotted;
    text-decoration-line: underline;
    text-decoration-color: #aed7a7;
}

.dashed {
    text-decoration: dashed;
    text-decoration-line: underline;
    text-decoration-color: #ff0000;
}

.double {
    text-decoration: double;
    text-decoration-line: underline;
    text-decoration-color: #05631a;
}