nav{
    text-align: center;
}

div {
    display: inline-block;
}

a {
    background-color: #ddd;
    color: #333;
    width: 40px;
    height: 40px;
    line-height: 40px;
    margin: 6px 6px;
    text-decoration: none;
    float: left;
    text-align: center;

}

a:hover {
    background-color: #ccc;
}

.navigation a:active {
    background-color: #d10953;
    color: #fff;
}