body {
    background-color: #f8f8f8;
}

form {
    width: 320px;
    height: 320px;
    background-color: #fff;
    padding: 15px;
    display: flex;
    flex-flow: wrap;
}

input {
    width: 100%;
    margin: 5px;
    padding: 5px;
    border: solid 1px #ccc;
    font-size: 18px
}

.button {
    background-color: #1cbc11;
    color: white;
}

.button:active {
    background-color: #14a20a;
}