button {
    width: 5em;
    height: 2em;
    border-radius: 0.5em;
    box-shadow: 0.1em 0.1em 1em rgb(151, 126, 126);
    background-color: rgb(230, 214, 214);
    border: none;
}

a {
    text-decoration: none;
}

.sm {
    font-size: small;
}

.med {
    font-size: medium;
}

.xl {
    font-size: x-large;
}
